@inherits WidgetBase
@using Violet.WorkItems.Types

<div style="margin-bottom:8px">
    <label style="position:relative; display:inline-block;width:150px;">@PropertyDescriptor.Label</label>

    <input style="position:relative;" name="foo" disabled="@(!PropertyDescriptor.IsEditable)" placeholder="@PropertyDescriptor.Hint" title="@PropertyDescriptor.Description" value="@Property.Value" @onchange="@(e => OnChange(e.Value))" />
</div>