<div class="blade-blade-element">
    <header>
        <div id="icon">@Icon</div>
        <h2 id="title">@Title</h2>
        <small id="sub-title">@SubTitle</small>
        <button id="close" @onclick="(e => RemoveBlade())">X</button>
    </header>
    <div class="blade-command-bar-element">@CommandBar</div>
    <div id="content">@Body</div>
</div>

@code {
    [Parameter]
    public bool Immutable { get; set; }
    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment? SubTitle { get; set; }
    [Parameter]
    public RenderFragment? Icon { get; set; }
    [Parameter]
    public RenderFragment? CommandBar { get; set; }

    // .. allowFullScreen
    // .. min-width

    [Parameter]
    public RenderFragment Body { get; set; }


    [CascadingParameter(Name = "BladeStack")]
    protected BladeStack Stack { get; set; }

    public void RemoveBlade()
    {
        Stack.RemoveBlade(this);
    }
}